.skillCard {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(23, 23, 23);
  border: 1px solid rgb(0, 1, 48);
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgb(0, 2, 93);
  transition: all 0.3s ease-in-out;
}
.skillCard:hover {
  transform: scale(1.05);
  background-color: rgb(37, 37, 37);
  border: 1px solid rgb(23, 23, 23);
}
